*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    min-height: 100vh;
    background: #fff;
}
header
{
    visibility: hidden;
    
        
}
.logo img
{
    width: 0px;
    height: 0px;
       
}

.navigation2
{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.navigation
{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 70px;
    
    border-radius: 0px;
    box-sizing: initial;
    box-shadow: 10px 0 0 #fff;
    border-left: 5px solid #4d5bf9;
    background: #4d5bf9;
    transition: width 0.5s;
    overflow-x: hidden;
    z-index: 10000;
}
.navigation:hover
{
    width: 300px;
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li.active
{
    background: #fff;
}
.navigation ul li b:nth-child(1)
{
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
}
.navigation ul li b:nth-child(1)::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #4d5bf9;
}
.navigation ul li b:nth-child(2)
{
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
}
.navigation ul li b:nth-child(2)::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #4d5bf9;
}
.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2)
{
    display: block;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li.active a
{
    color: #333;
}
.navigation ul li a .icon
{
    position: relative;
    padding: 17;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
    font-size: 1.5em;
}
.navigation ul li a .icon img
{
    width: 30px;
}
.navigation ul li a .icon p
{
    padding: 1;
    margin: -20;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    
}
section::before
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
}
section::after
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#21f3e2,#e91e63);
    clip-path: circle(20% at 10% 10%);
}
.container
{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    padding: 10 75
}
.container .card
{
    position: relative;
    width: 200px;
    height: 250px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.295);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 
    backdrop-filter: blur(10px);
}
.container .card .content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: 0.5s;
}
.container .card:hover .content
 {
     opacity: 1;
     transform: translateY(-20px);
 }
 .container .card .content .imgBx
 {
     position: relative;
     width: 120px;
     height: 120px;
     
     overflow: hidden;
     
 }
 .container .card .content .imgBx img
 {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     font-size: 1.5em;
 }
 .container .card .content .contentBx h3
 {
     color: #000;
     text-transform: uppercase;
     letter-spacing: 2px;
     font-weight: 600;
     font-size: 18px;
     text-align: center;
     margin: 20px 0 10px;
     line-height: 1.1em;
     
 }
 .container .card .content .contentBx h3 span
 {
     font-size: 12px;
     font-weight: 300;
     text-transform: initial;
     
 }
 .container .card .sci
 {
     position: absolute;
     bottom: 20px;
     display: flex;
     
 }
 .container .card .sci li
 {
     list-style: none;
     margin: 0 10px;
     transform: translateY(20px);
     transition: 0.5s;
     opacity: 0;
     transition-delay: calc(0.1s * var(--i));
 }
 .container .card:hover .sci li
{
    transform: translateY(0px);
    opacity: 1;
    
}
 .container .card .sci li a
 {
     color: #000;
     font-size: 15px;
     font-weight: 300;
     text-decoration: none;
     border: 1px solid #000;
     border-radius: 20px;
     padding: 10px;
     transition: 0.5s;
 }
 .container .card .sci li a:hover
 {
    
    border: 1px solid rgb(255, 8, 0);
 }
 ::-webkit-scrollbar
 {
     width: 10px;
     background: rgba(252, 0, 0, 0);
     box-shadow: 0 15px 35px rgba(0, 0, 0, 0.295);
 }
 ::-webkit-scrollbar-thumb
 {
     background: #b3b2b2;
     border-radius: 6px;
     box-shadow: 0 15px 35px rgba(0, 0, 0, 0.295);
     transition: 1s;
 }
 ::-webkit-scrollbar-thumb:hover
 {
     background: #979595;
 }
 @media (max-width:900px)
{
    .navigation
{
   
    visibility: hidden;
}



header
{
    position: fixed;
    top: 0;
    left: 0;
    background: #4d5bf9;
    width: 100%;
    padding: 10 50 10 25;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    visibility: visible;
}
haeder.sticky
{
    background: #000;
}
header .logo
{
    position: initial;
    color: #4d5bf9;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    left: -12%;
}
.logo img
    {
        width: 30px;
        height: 30px;
        
    }
header .toggle
{
    position: relative;
    right: -30px;
    width: 40px;
    height: 40px;
    background: url(menu2.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
}
header .toggle.active
{
    background: url(close2.png);
    background-size: 25px;
    
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.navigation2
{
    position: fixed;
    background: #fff;
    top: 0;
    margin: 0 0 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    border: 0px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}
.navigation2.active
{
    opacity: 1;
    visibility: visible;
    padding: 50 0 0 0;
}
.navigation2 ul
{
    display: flex;
    margin: 10 0 ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.navigation2 ul li
{
    list-style: none;
}
.navigation2 ul li a
{
    display: block;
    
    margin: 10px 0;
    border: 1px solid #000;
    padding: 10 50;
    text-align: center;
    width: 300px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.295);
    border-radius: 20px;
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 300;

    
}
.navigation2 ul li a:hover
{
    padding: 10 50;
    background: #4d5bf9; 
    color: #fff; 
    opacity: 1;
    
}
.navigation2 ul li a.active
{
     background: #4d5bf9; 
    color: #fff;
    opacity: 1;
    
}
.container
{
    padding: 10 ;
}
.container .card
{
    width: px;
    
}
.container4
{
    padding: 10 0 0 50;
}
}